<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<meta property="og:image" content="{{ 'assets/images/header.jpg' | absolute_url }}">
<meta name="twitter:image" content="{{ 'assets/images/header.jpg' | absolute_url }}">

<!-- end custom head snippets -->
<link href="https://urbanists.social/@benlk" rel="me">
<link href="https://bsky.app/profile/benlk.com" rel="me">
