:root{
  --white: white;
  --grey-90: hsl(207.57, 60%, 90%);
  --grey-80: hsl(207.57, 60%, 80%);
  --grey-70: hsl(207.57, 60%, 70%);
  --grey-60: hsl(207.57, 60%, 60%);
  --grey-30: hsl(207.57, 70%, 30%);
  --grey-20: hsl(207.57, 80%, 20%);
  --grey-10: hsl(207.57, 90%, 10%);
  --black: hsl(207.57, 94.87%, 7.65%);

  --primary: hsl(103.2, 55.56%, 24.47%);
  --primary-on-dark: hsl(103.2, 55.56%, 64.47%);

  --secondary: hsl(8.49, 93.81%, 44.31%);

  --font-sans:'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  --font-headings: 'League Gothic', Impact, Haettenschweiler, "Franklin Gothic Bold", "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
