@import "rouge-github";
@import "colors";

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color: var(--black);
  background: var(--grey-90);
  font-size: 20px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .impact {
  font-family: 'League Gothic', Impact, Haettenschweiler, "Franklin Gothic Bold", "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 100px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 60px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 26px;
}

p {
  margin: 10px 0 15px 0;
}

footer {
  color: #f2f2f2;
}

a {
  text-decoration: underline;
  color: var(--primary);
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  color: var(--primary);
}

sup {
  vertical-align: super;
  font-size: 80%;
}
sup a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--grey-60);
  color: var(--grey-60);
  line-height: 1;
  padding: 1px 2px;
}

footer a {
  color: var(--primary-on-dark);
  text-decoration: none;
}
footer h2 {
  padding-top: 1em;
  line-height: 1;
}
footer .menu {
  line-height: 1;
  list-style: none;
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0;
}

em, cite {
  font-style: italic;
}

cite {
  text-align: right;
  display: block;
  clear: both;
}
cite::before {
  display: inline;
  content: "— ";
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: var( --grey-20 );
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 3px;
  margin-bottom: 5px;
  border-width: 3px 3px 0;
  border-style: solid;
  border-color: var(--black);
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 5px;
  vertical-align: middle;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 542px;
  max-width: clamp( 542px, 542px, 95vw );
  padding: 0;
  margin: 0 auto;
}

#header_wrap {
  background: var(--grey-10);
  background:    -moz-linear-gradient(top, var(--grey-20), var(--grey-10) );
  background: -webkit-linear-gradient(top, var(--grey-20), var(--grey-10) );
  background:     -ms-linear-gradient(top, var(--grey-20), var(--grey-10) );
  background:      -o-linear-gradient(top, var(--grey-20), var(--grey-10) );
  background:      linear-gradient(to top, var(--grey-20), var(--grey-10) );
}

#header_wrap .inner {
  max-width: clamp( 50vw, 1000px, 95vw );
  padding: 50px 0 30px 0;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-shadow: #111 0px 0px 10px;
  line-height: 1;
  text-align: center;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  background: none;
  text-shadow: #111 0px 0px 10px;
  line-height: 1;
  text-align: center;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: var(--grey-90);
  border-top: 2px solid var(--grey-80);
  border-bottom: 2px solid var(--grey-80);
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: var(--black);
  background:    -moz-linear-gradient(top, var(--black), var(--grey-20) );
  background: -webkit-linear-gradient(top, var(--black), var(--grey-20) );
  background:     -ms-linear-gradient(top, var(--black), var(--grey-20) );
  background:      -o-linear-gradient(top, var(--black), var(--grey-20) );
  background:      linear-gradient(to top, var(--black), var(--grey-20) );
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:16px;
  }
}
